{% extends 'main.html' %}
{% block content %}

<h1>SOUNDCLIP</h1>

<div>
    <p>{{ sound.title }}</p>
    <p>{{ sound.description }}</p>
    <p>{{ sound.person }}</p>
    <p>{{ sound.location }}</p>
</div>
<a href="{% url 'edit' sound.id %}">Edit</a>
{% for comment in comments %}
<hr>
{{ comment.body }}
{% endfor %}
<hr>
{{sound.message}}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <!-- {{form.body}} <br> -->
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}