{% extends 'main.html' %}
{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
</style>

<div class="home-container">
    

    <div>
        <h3>Browse Clips</h3>
        <hr>
        <div>
            <a href="{% url 'soundboard' %}">All</a>
        </div>
        {% for person in people %}
        <div>
            <a href="{% url 'soundboard' %}?q={{person}}">{{person}}</a>
        </div>
        {% endfor %}
    </div>

    <div>
        <h1>HOMEPAGE</h1>
        {% for sound in sounds %}
        <div>
            <p>{{sound.person}} -- <a href="{% url 'individual_clip' sound.id %}">{{sound.title}}</a></p>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}